/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font: 1em/1.375em 'Lato', Helvetica, 'Helvetica Neue', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;    
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.header-container {
    border-bottom: 4px solid #e44d26;
    background: #f16529;
}

.footer-container {
    border-bottom: 4px solid #e44d26;
    background: #f16529;
    text-align: center;
}

/* Title & Nav */
.title {
    color: white;
    text-align: center;
    text-shadow: 3px 3px 3px #9B2304;
}
.contact-info {
    color: white;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 2px;
    border-top: 1px solid #ccc;
}
.contact-info a:link, 
.contact-info a:visited {
    color:white;
}

/* Resume section */
.resume-section {
    padding-top: 30px;
}
section.resume-section h2 {
    border-bottom: 1px solid  #e44d26;
    margin: 0px;
}
section.resume-section h3 {
    margin: 0px;
}

/* Job section */
.job-section {
    padding-top: 20px;
}
.job-position {
    overflow: hidden;
}
.job-title {
    width: 60%;
    float: left;
}
.job-location {
    width: 100%;
    float: left;
}
.job-length {
    text-align: right;
}

/* Navigation bar */
.navCanvas {
    background-color: #333;
}
.topnav {
    overflow: hidden;    
}
.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
}
.topnav li {
    float: left;
}
.topnav li a {    
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px 14px 16px;  
    text-decoration: none;
    font-size: 14px;
}
.topnav li a:not(.logoBrand):hover:not(.dropdownLink):hover {
    background-color: #555;
    color: white;
}
.active {
    background-color: rgb(122, 173, 124);
    color: white;
}
.topnav .icon {
    display: none;    
}
.topnav .logoBrand {    
    padding-bottom: 0px;
    padding-top: 12px;
    font-size: 20px;
}
.topnav .navLogo {
    padding-bottom: 2px; 
    margin-right: 4px;
}

/* Navigation - dropdown */
.dropbtn {
    background-color: inherit;
    color: #f2f2f2;
    padding: 18px 16px 16px 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}    
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
    z-index: 1;    
}
.dropdown .dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: black;    
}
.dropdown .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

/* Navigation - Hamburger menu look and feel */
.burger {
    display: inline-block;
    cursor: pointer;      
}
.bun1, .bun2, .bun3 {
    width: 35px;
    height: 2px;
    background-color: gray;
    transition: 0.4s;
}
.bun1, .bun3 {
    margin: 1px 0;
}
.bun2 {    
    margin: 3px 0;
}

/* Navigation - Hamburger menu behavior */
.flipIt .bun1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 4px);
    transform: rotate(-45deg) translate(-6px, 4px);
}
.flipIt .bun2 {opacity: 0;}
.flipIt .bun3 {
    -webkit-transform: rotate(45deg) translate(-3px, -2px);
    transform: rotate(45deg) translate(-3px, -2px);
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 1140px) {
       
    /* MAXIMUM WIDTH */
    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

@media only screen and (max-width: 37em) {
    /* Style adjustments for viewports that meet the condition */
    .job-title {
        width: 100%;
        float: none;
    }
    .job-location {
        float: none;
    }
    .job-length {
        text-align: left;
    }
    body {
        line-height: 1.25em;
    }

   /* Hide all links, except for brand section. */
    .topnav li:not(:first-child), .dropdown .dropbtn {display: none;}
    .topnav li.icon {
      float: right;
      display: block;      
    }
    .topnav li a {
        padding-left: 8px;
    }
    .topnav li.icon > a{
        padding-left: 16px;
    }
    .topnav .logoBrand {    
        padding-bottom: 10px;                     
    }
    .topnav .dropbtn {
        padding-left: 8px;
    } 
    #navbarShellId {
        width: 100%;
        margin: 0;
    }
  
    /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon.*/ 
    .topnav.responsive {position: relative;}
    .topnav.responsive li.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive li {
        float: none;
        display: inline;
    }
    .topnav.responsive li a {
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative; margin: 0px 1px 1px 1px;}
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }  
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    /* Update class defs styles */
    .header-container {
        border-bottom: none;
    }
    
    .title h1 {
        margin-bottom: 4px;
    }

    section.resume-section h2 {
        border-bottom-color: gray;
    }

    .footer-container {
        visibility: hidden;
    }

    .contact-info a[href]:after {
        content: "";
    }
}
